@keyframes radial {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

  @keyframes notSweep {
    0%    {opacity: 1; margin-left: 0px}
    100%  {opacity: 0; margin-left: -10px}
  }

.radial {
    &:after {
        content:'';
        position: absolute;
        z-index:1;
        width:46px;
        height:46px;
        background:opacify($color: $js-color, $amount: 0.8);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: radial 1s infinite forwards;
        top:-8px;
        @include device(phone) {
            left:-8px;
            right:0;
        }
    }
}

@keyframes fadeInRight {
    0% {
       margin-left: 300px;
    }
    100% {
        margin-left: 0;
    }
 } 