/* Grid */
.container {
    width:80%;
    @include center-auto;
    position: relative;
}

/* Half Container */
.half-container {
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    @include center-auto;
}

/* Form */

.input-group {
    position: relative;
    padding-right:8rem;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
	bottom: -20px;
	left: 14px;
	font-size: 12px;
    color: #B2B2B2;
    background-color:white;
    padding:4px 7px;
    text-transform: uppercase;
    font-family: $font;
    letter-spacing: 1px;
    font-weight: 500;
}


.input-group input,
.input-group input:empty {
	border: none;
	outline: none;
    transition: all .2s ease;
}

.input-group input:focus {
    border-color: transparent;
}

.input-group label {
    display: block;
    position: absolute;
	bottom:20%;
	left: 5px;
	font-size: 16px;
    color:#B2B2B2;
    font-size:1.6rem;
    font-family: $font;
    font-weight: 300;
    padding-left:10px;
	transform: translateY(-50%);
	transition: all .2s ease;
}
.input-group:not(:last-child) {
    margin-bottom:2rem;
}
.input-group input.field {
    width:100%;
    display: block;
    background: transparent;
    border:1px solid #E9E9E9;
    border-radius: 4px;
    
    font-size:1.6rem;
    font-family: $font;
    font-weight: 300;
    padding:2rem;
}

input.field::-webkit-input-placeholder {
    color:#B2B2B2;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Form Validation */
.input-group input:required:valid, .input-group input:required:valid ~ label {
    border-color:rgb(99, 205, 99) !important;
    color:rgb(99, 205, 99); 

}


.input-group input:required:invalid:focus, .input-group input:required:invalid:focus ~ label {
    border-color:rgb(222, 40, 40) !important;
    color:rgb(222, 40, 40); 
}
/* Button */
.blc-button button{
    width:100%;
    border:none;
    background-color:$red;
    font-size:1.6rem;
    color:white;
    font-family: $font;
    text-transform: uppercase;
    height:60px;
    outline:none;
    &:hover {
        cursor: pointer;
        background-color:$lightred;
    }
}


.suc-button{
    border:none;
    background-color:$red;
    font-size:1.6rem;
    padding:1.4rem 3rem;
    color:white;
    font-family: $font;
    text-transform: uppercase;
    height:60px;
    outline:none;
    &:hover {
        cursor: pointer;
        background-color:$lightred;
    }
}

/* Table */


table.red-table {
    width:100%;
    background-color:#FAFAFA;
    border:none;
    border-collapse: collapse;
    box-shadow: 0 15px 30px 0 rgba(208,208,208,0.50);
    overflow-x:auto;
    th {
        height:5rem;
        background-color:$red;
        border:none;
        font-family: $font;
        font-size:1.6rem;
        color:white;
        font-weight: 400;
        text-align: left;
        padding-left:2rem;
    }
    td {
        height:4rem;
        padding-left:2rem;
        font-size:1.4rem;
        font-family: $font;
        font-weight: 300;
    }
    tr:nth-child(even) {
        background-color:rgb(232, 232, 232);
    }

    td:nth-child(even) {
        border-left:1px solid #ddd;
        border-right:1px solid #ddd;
        box-sizing: border-box;
        border-collapse: collapse;
    }
}

input.contact  {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(220,220,220,0.50);
    border-radius: 3px;
    width:100%;
    border:none;
    margin-bottom:1.8rem;
    font-size:1.4rem;
    font-family: $font;
    padding:2rem 0 2rem 0rem;
    text-indent: 1.6rem;
    outline:none;
}

select.selection {
    box-shadow: 0 2px 4px 0 rgba(183,181,181,0.50);
    border-radius: 3px;
    width:100%;
    border:none;
    margin-bottom:1.8rem;
    font-size:1.4rem;
    font-family: $font;
    text-indent: 1.6rem;
    outline:none;
    height:5rem;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 97% #FFFFFF;
    -webkit-appearance: none;
}

input.contact::-webkit-input-placeholder, textarea.input::-webkit-input-placeholder {
    color:#D1D1D1;
}

textarea.contact {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(220,220,220,0.50);
    border-radius: 3px;
    resize: none;
    width:100%;
    border:none;
    margin-bottom:1.8rem;
    font-size:1.4rem;
    font-family: $font;
    padding:2rem 0 2rem 0rem;
    text-indent: 1.6rem;
    outline:none;
}

button.contact  {
    background: $red;
    color:white;
    height:5rem;
    font-size:1.6rem;
    font-family: $font;
    border:none;
    border-radius: 3px;
}
.succes-msg{
    text-align: center;
    margin: 0 auto;
    font-family: $font;
    font-size: 1.8rem;
    color: white;
}
