.heading__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:3rem;
    margin-bottom:2rem;
    &__line {
        width:4px;
        height:3rem;
        background-color:#E3E3E3;
        display: block;
    }
    &__title {
        font-family: $font;
        font-weight: 500;
        font-size:1rem;
        color:$text;
        h1 {
            color:#3E3E3E;
        }
    }
    &__description {
        font-family: $font;
        font-size:1rem;
        width:40%;
        text-align: center;
        h2 {
            margin:0;
            font-weight: 300 !important;
            color:rgb(94, 94, 94);
        }
    }
}

.back-red {
    background-color:$red !important;
}

.vh30 {
    min-height: 30vh !important;
}

.vh20 {
    height: 20vh !important;
}

/* Programming Languages Codes */
.html5 {
    background-image: linear-gradient(-180deg, #B620E0 0%, #FF0000 100%);
}

.lesson_title {
    font-size:2.8rem;
    font-family: $font;
    font-weight: 600;
    color:$text;
    position: relative;
    z-index:1;
    @include device(phone) {
     font-size:2rem;                   
    }
    &:after {
        content:'';
        z-index: -1;
        position: absolute;
        background:$js-color;
        left:0;
        right:0;
        bottom:2px;
        width:100%;
        height:7px;
    }
}


