/* 
    company: Shuffle LLC
    developer: Agshin Rajabov
    website: shuffle.az
*/

@import "kits/functions";
@import "kits/mixin";
@import "kits/variables";

@import "base/base";
@import "base/animations";
@import "base/utilities";

//pages
@import "pages/homepage";
@import "pages/register";
@import "pages/panel";
@import "pages/lesson";
@import "pages/mobile";
@import "pages/static";
@import "pages/popup";
@import "pages/empty";

//font-awesome
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');
