@mixin device($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width:780px) { @content };     //780px
    }
    @if $breakpoint == tab-port {
        @media (max-width:56.2em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media (max-width:75em) { @content };       //1200px
    }
    @if $breakpoint == desktop {
        @media (max-width:112.5em) { @content };    //1800px
    }
}

%center-auto{
    margin-left:auto;
    margin-right:auto;
}

@mixin center-auto{
    margin-left:auto;
    margin-right:auto;
}

@mixin transition($count) {
    -webkit-transition: all $count;
    -moz-transition: all $count;
    -o-transition: all $count;
    transition: all $count;
}

@mixin lessonCard($grad1, $grad2, $text) {
    background-image: linear-gradient(-180deg, $grad1 0%, $grad2 100%);
    border-radius: 8px;
    color: $text;
    text-align: center;
    align-self: center;
    height:20vh;
    line-height: 130%;
    font-family: $font;
    font-size:2rem;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card-title {
        font-size:2.4rem;
    }
    .card-desc {
        font-size:1.3rem;
    }
}